# Docker init directory
docker/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json

## VS Code
.vscode/

## Visual Studio / Rider
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.idea/
*.DotSettings.user
launchSettings.json

## dotnet tool
.dotnet/

## User-specific files
appsettings.*.local.json

## OS files
.DS_Store
Thumbs.db
